@import "tailwindcss";
@reference "./global.css";

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

body {
  @apply bg-surface-1 text-foreground-light font-body selection:text-black selection:bg-accent-1;
}
