@import "tailwindcss";

/* Containers */
.ulix-container {
  inline-size: min(92vw, 70rem);
  margin-inline: auto;
}

/* Top Margins */
.ulix-mt-lg {
  @apply mt-16 lg:mt-32
}

.ulix-mt-md {
  @apply mt-10 lg:mt-16
}

.ulix-mt-sm {
  @apply mt-6 lg:mt-8
}
