@import "tailwindcss";
@reference "./global.css";

.ulix-h1 {
  @apply font-bold text-balance text-5xl md:text-6xl;
}

.ulix-h2 {
  @apply font-bold text-balance text-3xl md:text-4xl;
}

.ulix-h3 {
  @apply font-bold text-balance text-lg md:text-2xl;
}

.ulix-h4 {
  @apply font-bold text-balance text-base md:text-xl;
}

.ulix-body-text {
  @apply leading-relaxed;
}
