---
import Layout from "../layouts/Layout.astro";

import global_settings from "../data/global_settings.json";
import competition from "../data/competition.json";
import { getPath } from '../utils/getPath.js'
---

<Layout title={ global_settings.title + " - Compétition" }>

  <section class="bs-container bs-mt-md flex flex-col gap-6">

    <!-- Title -->
    <h1 class="bs-h1 text-center">{ competition.title }</h1> 

    <!-- Content -->
    <div class="bs-body-text xl:text-xl flex flex-col gap-4">

      { competition.paragraphs.map( content => (

        <p class="text-center" set:html={ content }></p>

      )) }

      <div class="flex items-center justify-center">
        <a href="https://www.motostudent.com/" class="min-w-32 bs-btn font-medium! text-lg!">Lien vers le site de la compétition</a>
      </div>

    </div>

    <div class="flex flex-wrap items-center justify-center mt-8 gap-16">

        { competition.images.map( ({image, image_alt}) => (
          <img src={ getPath(image) } alt={ image_alt } class="w-48 h-48 rounded-full object-cover" />
        )) }

    </div>

  </section>

</Layout>
