---
import PageLayout from "../layouts/PageLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import global_settings from "../data/global_settings.json";
import competition from "../data/competition.json";
import { withBaseUrl } from '../utils/pathUtils.js';
---

<PageLayout title={ global_settings.title + " - Compétition" }>
  <SectionLayout id="competition" title={ competition.title }>

    <div class="bs-body-text xl:text-xl flex flex-col gap-4">

      { competition.paragraphs.map( content => (

        <p class="text-center" set:html={ content }></p>

      )) }

      <div class="flex items-center justify-center">
        <a href="https://www.motostudent.com/" class="min-w-32 bs-btn font-medium! text-lg!">Site de la compétition</a>
      </div>

    </div>

    <div class="flex flex-wrap items-center justify-center mt-8 gap-16">

        { competition.images.map( ({image, image_alt}) => (
          <img src={ withBaseUrl(image) } alt={ image_alt } class="w-48 h-48 rounded-full object-cover" />
        )) }

    </div>

  </SectionLayout>
</PageLayout>
