---
import Layout from "../layouts/Layout.astro"

import global_settings from "../data/global_settings.json";
import partenaires from "../data/partenaires.json"
import { getPath } from '../utils/getPath.js'
---

<Layout title={ global_settings.title + " - Partenaires" }>

  <section class="bs-container bs-mt-md">

    <!-- Title -->
    <h1 class="bs-h1 text-center">{ partenaires.title }</h1> 

    <!-- Section de partenaire -->
    { partenaires.partners.map((tier) => (
      <div class="my-8 p-6 rounded-lg opacity-70 shadow-md" style={`color: ${tier.title_color}; background-color: ${tier.background}`}>

        <h2 class="mb-4 bs-h2 text-4xl! md:text-5xl! text-center">{ tier.title }</h2>

        <div class="flex flex-wrap items-center justify-center gap-4 ">

          { tier.list.map((p) => (
            <a
              class="w-70 p-4 flex items-center justify-center no-underline hover:-translate-y-1 transition-all overflow-hidden"
              href={ p.link }
              target="_blank"
              rel="noopener noreferrer">

              <img class="max-w-full h-30 object-contain mb-2" src={ getPath(p.image) } alt={ p.title } loading="lazy" />
            </a>
          )) }

        </div>

      </div>
    )) }

  </section>

</Layout>
