---

const { title, slider } = Astro.props

---

<section id="slider" class="relative">

  <!-- Slides -->
  <div class="js-fc-swiper swiper select-none bs-container bs-mt-md">
    <div class="swiper-wrapper">

      { slider.map( item =>

      // Slides
      <div class="swiper-slide bg-bs-surface-0 border border-bs-surface-3 rounded-xl overflow-hidden h-auto!">

        <figure class="relative flex flex-col gap-6 isolate min-h-[40vh] md:min-h-[40rem] h-full">

          {/* BG image */}
          <img src={ item.image } alt={ item.image_alt } loading="lazy"
            class="opacity-20 md:opacity-80 rounded-xl grayscale overflow-hidden w-full h-full object-cover object-left absolute inset-0"
            height="1024" width="768" />

        </figure>

      </div>

      )}

    </div>
  </div>

  {/* Centered overlay title */}
  <div class="pointer-events-none absolute inset-0 z-10 flex items-center justify-center">
    <div class="bg-black/60 rounded-xl text-white px-8 py-5 max-w-3xl text-center">
      <h2 class="text-4xl font-semibold leading-snug">{title}</h2>
    </div>
  </div>

</section>

<script>
import Swiper from "swiper"
import { Autoplay } from 'swiper/modules';
import 'swiper/css'
import 'swiper/css/autoplay'

const swiper = new Swiper('.js-fc-swiper', {
  modules: [Autoplay],
  slidesPerView: 1,
  spaceBetween: 30,
  loop: true,
  speed: 1000,
  autoplay: {
    delay: 3000,
  },
})
</script>
