---

const { title, content, btn } = Astro.props
import { getPath } from '../utils/getPath.js'

---

<section id="about">

  <!-- Content -->
  <div class="bs-container bs-mt-lg flex flex-col gap-6">

    <!-- Title -->
    <h1 class="bs-h1">{ title }</h1> 

    <!-- Content -->
    <div class="bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-bs-foreground-dark"> <h2 set:html={ content }></h2> </div>

    { btn && (
      <div class="flex items-center justify-center">
        <a href={ getPath('partenaires') } class="min-w-32 bs-btn">{ btn }</a>
      </div>
    ) }

  </div>

</section>
