---
const { title, projets } = Astro.props
import SectionLayout from '../layouts/SectionLayout.astro'
---

<SectionLayout id="projets" title={title}>

  <div class="mt-8 grid md:grid-cols-2 gap-8">

    <!-- Item -->
    { projets.map( item =>
      <article class="p-12 flex flex-col rounded-xl overflow-hidden bg-white/90 text-black/90">
        <div class="relative">
          <h2 class="ulix-h2">{ item.title }</h2>
          <div class="text-xl grow mt-4 " set:html={ item.content } />
        </div>
      </article>
    )}

  </div>

</SectionLayout>
