---
const { title, content } = Astro.props
import SectionLayout from '../layouts/SectionLayout.astro'
---

<SectionLayout id="about" title={title} horizontal>

  <div class="ulix-body-text text-center xl:text-xl flex flex-col gap-4 [&_p]:last:text-foreground-dark">
    <h2 set:html={ content }></h2>
  </div>

</SectionLayout>
