---
const { title, content, btn } = Astro.props
import { withBaseUrl } from '../utils/pathUtils.js'
import SectionLayout from '../layouts/SectionLayout.astro'
---

<SectionLayout id="about" title={title}>

  <div class="ulix-body-text text-center xl:text-xl flex flex-col gap-4 [&_p]:last:text-foreground-dark">
    <h2 set:html={ content }></h2>
  </div>

  <div class="my-4"></div>

  <div class="flex items-center justify-center">
    <a href={ withBaseUrl('partenaires') } class="min-w-32 ulix-btn">{ btn }</a>
  </div>

</SectionLayout>
