---
import '../assets/css/global.css';
import "../assets/css/base.css";
import "../assets/css/typography.css";
import "../assets/css/layout.css";
import "../assets/css/buttons.css";

import { Image, Font } from 'astro:assets';
import bg_image from "../assets/theme-images/Boulons.png";

import global_settings from "../data/global_settings.json";
import { getPath } from '../utils/getPath.js';

import MainFooter from "../components/MainFooter.astro";
import MainHeader from "../components/MainHeader.astro";

const { title, description } = Astro.props;

const socialImage = getPath(global_settings.social_image);
---

<html lang="fr">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{ title ?? global_settings.title }</title>

    <link rel="icon" type="image/svg+xml" href={ getPath('favicon.svg') } />
    <link rel="manifest" href={ getPath('manifest.json') } />

    <meta name="description" content={ description ?? global_settings.description } />
    <meta name="theme-color" content={ global_settings.theme_color } />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={ title ?? global_settings.title } />
    <meta property="og:description" content={ description ?? global_settings.description } />
    <meta property="og:image" content={ socialImage } />
    <meta property="og:url" content={ Astro.url } />

    <Font cssVariable="--font-syne" preload />

  </head>

  <body id="top">

    <!-- Skip link -->
    <a class="fixed -top-20 focus-visible:top-0 p-3 bg-black/90 transition-all duration-300" href="#main">Skip to content</a>

    <!-- bg image -->
    <Image src={ bg_image } alt="" height={1080} width={1920} class="absolute min-h-svh object-cover inset-0 bottom-auto -z-1 w-full h-auto opacity-20 mask-b-from-50%" loading="eager" />

    <!-- Header -->
    <MainHeader settings={ global_settings } />

    <!-- Main slot -->
    <main id="main">
      <slot />
    </main>

    <!-- Footer -->
    <MainFooter settings={ global_settings } />

  </body>
</html>

